@switch (type()) {
    @case (1) {
        <h1></h1>
    }
    @case (2) {
        <h1></h1>
    }
    @case (3) {
         <h4 class="text-2xl text-letter cursor-pointer font-semibold" >{{text()}}</h4>
    }
    @case (4) {
        <h4 class="text-xl   text-letter cursor-pointer font-semibold" >{{text()}}</h4>
    }
    @case (5) {
        <h1></h1>
    }
    @case (6) {
        <h6 class="text-base text-letter cursor-pointer hover:text-card">{{text()}}</h6>
    }
    @case (7) {
        <p class="text-[0.8rem] text-letter cursor-pointer hover:text-card">{{text()}}</p>
    }
}
