<div class="relative">
    <div class="absolute right-20 top-20">
        <img 
        src="https://bpi.interbank.pe/assets-1-0-0/svg/logo-blue-white.svg?CppVdyK_" alt="" class=" h-10">
    </div>
    <img src="./assets/images/bg.png" alt="" class="w-screen h-screen" >
    <div 
    class="absolute top-20 left-20  w-96 h-auto">
        <div class="bg-white rounded-tl-2xl rounded-br-3xl px-5 pt-16 pb-8">
            <router-outlet/>
        </div>
        <div class="bg-linear-to-r to-1 from-2 text-tiny text-white flex justify-evenly font-semibold py-3 rounded-br-3xl">
            <h4>Regístrate</h4>
            <h4>|</h4>
            <h4>Olvidé mi contraseña</h4>
            <h4>|</h4>
            <h4>Ayuda</h4>
        </div>
    </div>
</div>