<footer class="border-t border-slate-600 px-main">
    <section class="py-10 flex justify-evenly items-center text-letter">
        <div class="flex space-x-4">
            <img src="./assets/images/logo2.png" alt="" class="size-20">
            <div class="flex flex-col justify-center">
                <h2 class="text-3xl font-medium" >Interbank APP</h2>
                <h5>Todas las operaciones desde tu celular</h5>
            </div>
        </div>
        <div class="flex space-x-4">
            <a href="https://apps.apple.com/us/app/interbank-app/id378649517">
                <img src="https://interbank.pe/documents/20124/147356/pic-badge-apple%402x.png/38a363a8-7b94-c55b-8923-2e677b372a52?t=1636739163881" alt="" class="h-10" >
            </a>
            <img src="https://interbank.pe/documents/20124/147356/pic-badge-apple%402x.png/38a363a8-7b94-c55b-8923-2e677b372a52?t=1636739163881" alt="" class="h-10" >
            <img src="https://interbank.pe/documents/20124/147356/pic-badge-apple%402x.png/38a363a8-7b94-c55b-8923-2e677b372a52?t=1636739163881" alt="" class="h-10" >
        </div>
    </section>

    <section class="border-t border-b py-10 px-5 grid grid-cols-4" >
        <div class="flex flex-col gap-y-5">
            <app-text-custome [type]="4" text="Nosotros" />
            <app-text-custome [type]="6" text="Nosotros" />
            <app-text-custome [type]="6" text="Corresponsalía" />
            <app-text-custome [type]="6" text="Noticias" />
            <app-text-custome [type]="6" text="Trabaja con nosotros" />
            <app-text-custome [type]="6" text="Somos transparentes" />
            <app-text-custome [type]="6" text="Canal Ético" />
            <app-text-custome [type]="6" text="Agente Interbank" />
            <app-text-custome [type]="6" text="GlobalNet" />
        </div>

        <div class="flex flex-col gap-y-5">
            <app-text-custome [type]="4" text="Ayuda y contacto" />
            <app-text-custome [type]="6" text="Canales oficiales" />
            <app-text-custome [type]="6" text="Puntos de atención" />
            <app-text-custome [type]="6" text="Canales digitales" />
            <app-text-custome [type]="6" text="Centro de Ayuda" />
            <app-text-custome [type]="6" text="Protégete de los fraudes" />
            <app-text-custome [type]="6" text="Comprobante Electrónico" />
            <app-text-custome [type]="6" text="Cronograma de pagos" />
            <app-text-custome [type]="6" text="Actualiza tus datos" />
        </div>

        <div class="flex flex-col gap-y-5">
            <app-text-custome [type]="4" text="Respaldo Interbank" />
            <app-text-custome [type]="6" text="Shopstar" />
            <app-text-custome [type]="6" text="CIMA" />
            <app-text-custome [type]="4" text="Legales" />
            <app-text-custome [type]="6" text="Tasas y tarifas" />
            <app-text-custome [type]="6" text="Avisos Legales" />
            <app-text-custome [type]="6" text="Lista de notarios" />
        </div>

        <div class="flex flex-col gap-y-5">
            <app-text-custome [type]="4" text="Contáctanos" />
            <app-text-custome [type]="6" text="Por WhatsApp con AVI, todos los días, las 24 horas" />
            <div class="flex items-center">
                <i class="fa-brands fa-whatsapp text-card text-4xl pr-4"></i>
                <app-text-custome [type]="3" text="993 119 000" />
            </div>
        </div>

    </section>

    <section class="grid grid-cols-5" >
        <div class="col-span-3 place-content-center">
            <app-text-custome [type]="7" text="© Copyright 2024 - Todos los derechos reservados" />
            <app-text-custome [type]="7" text="Banco Internacional del Perú S.A.A. " />
            <app-text-custome [type]="7" text="Av. Carlos Villarán N° 140, La Victoria, Lima, Perú " />
            <app-text-custome [type]="7" text="RUC: 20100053455" />
        </div>
        <div class="col-span-1 border-r border-l py-10 flex justify-evenly *:cursor-pointer">
            <i class="fa-brands fa-square-facebook text-2xl "></i>
            <i class="fa-brands fa-square-twitter text-2xl"></i>
            <i class="fa-brands fa-youtube text-2xl"></i>
            <i class="fa-brands fa-square-instagram text-2xl"></i>
        </div>
        <div class="col-span-1 flex space-x-3 items-center justify-center">
            <img 
            class="h-18"
            src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/4f/4fc07581-1426-434a-be78-b173c08ef5fc/libro-reclamo%402x_edit.jpg" 
            alt="">

            <img 
            class="h-18"
            src="https://interbank.pe/documents/20124/147356/compromiso%402x.png/647a0455-26f8-049b-8bcc-408cfebd495e?t=1636742119438" 
            alt="">
        </div>
    </section>
</footer>
